body {
    margin: 0;
}


/* creazione stile per il logo */

.logo {
    width: 160px;
    margin: 30px;
}

.logosect {
    height: 70px;
    background-color: rgb(59, 179, 249);
    background-image: url(../img/pattern.png);
    background-size: 200px;
}

/* /intestazione */

h1 {
    font-size: 34px;
    margin-bottom: 0px;
}

.int {
    max-width: 700px;
    

}

a {
    text-decoration: none;
    color: #0ba2e8;
}


.bodycont {
    max-width: 700px;
    margin: 10px;


}


table {
    border-collapse: collapse;
}

thead {
    background-color: #4abeef;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #17aad2;
}

.large{
    width: 60%
}
h3{
    color: #838383;
}

h4{
    margin-top: 0;
}
.ph1{
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    width: 330px;
    height: 252px;
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.ph2{
   background-image: url(../img/graph.jpg);
    background-size: cover;
    width: 330px;
    height: 220px;
    color: white;
    padding:10px;
    font-size: 25px;
    margin-bottom: 30px;
}


.smalltext {
      font-size: 10px; 
}

main {width: 80%;
    margin-left: 20px; 
    margin-right: 20px; 
}
    
main {width: 80%;
    margin-left: 20px; 
    margin-right: 20px; 
}