body {
    margin: 0;
}


/* creazione stile per il logo */

.logo {
    width: 160px;
    margin: 30px;
    margin-left: 40px;
}

.logosect {
    height: 70px;
    background-color: rgb(59, 179, 249);
    background-image: url(../img/pattern.png);
    background-size: 200px;
}

/* /intestazione */

h1 {
    font-size: 34px;
    margin-bottom: 0px;
}

.int {
    max-width: 4000px;
    

}

a {
    text-decoration: none;
    color: #0ba2e8;
}


.bodycont {
    max-width: 600px;
    margin: 10px;


}


table {
    border-collapse: collapse;
}

thead {
    background-color: #4abeef;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #17aad2;
    
}
td, th {
      padding: 8px;
    }
th {
      text-align: left; 
    
}
.large{
    width: 60%
}
h3{
    color: #838383;
    margin-left: 40px;
}

h4{
    margin-top: 0;
}
.ph1{
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    width: 330px;
    height: 220px;
    color: rgb(255, 252, 252);
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.ph2{
   background-image: url(../img/graph.jpg);
    background-size: cover;
    width: 330px;
    height: 220px;
    color: rgb(255, 255, 255);
    padding:10px;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 40px;
}


.smalltext {
      font-size: 10px; 
}

main {
    width: 80%;
    margin-left: 50px; 
    margin-right: 20px; 
}
    

.bodycont2 {
    max-width: 600px;
    margin-left: -40px;
}


.colortext {
    color: #17aad2;
}
